.top-screen {
  &__icons {

    &--1,
    &--2,
    &--3,
    &--4 {
      transform: rotateZ(-360deg);
    }

    &--1 {
      animation: element1 2s ease forwards, rotate 8s linear infinite;

    }

    &--2 {
      animation: element2 2s ease forwards, rotate 8s linear infinite;
    }

    &--3 {
      animation: element3 2s ease forwards, rotate 8s linear infinite;
      // transform: translate(-60%, 0);
    }

    &--4 {
      animation: element4 2s ease forwards;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(360deg);
    }
  }

  @keyframes element1 {
    0% {
      top: -10%;
      left: -10%;
    }

    30% {
      top: 70%;
      left: 10%;
    }

    100% {
      top: 20%;
      left: 10%;
      transform: rotateZ(0deg);
    }
  }

  @keyframes element2 {
    0% {
      top: -10%;
      right: 110%;
    }

    30% {
      top: 70%;
      right: 60%;
    }

    100% {
      top: 20%;
      right: 10%;
      transform: rotateZ(0deg);
    }
  }

  @keyframes element3 {
    0% {
      top: -10%;
      left: -10%;
    }

    30% {
      top: 70%;
      left: 30%;
    }

    100% {
      top: 5%;
      left: 45%;
    }
  }

  @keyframes element4 {
    0% {
      top: -10%;
      left: -10%;
    }

    30% {
      top: 70%;
      left: 20%;
    }

    100% {
      top: 75%;
      left: 35%;
      transform: rotateZ(0deg);
    }
  }

  &__title {
    animation: show-title 1s 1s backwards;
  }

  &__subtitle {
    animation: show-title 1s 1.5s backwards;

    @keyframes show-title {
      0% {
        transform: translate(-30%, 0%);
        opacity: 0;
      }

      100% {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }
}

.star {
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: $stars-color;
  box-shadow: 0 0 2px 1px $stars-color;
  border-radius: 50%;
  animation: flicker infinite alternate 5s;


  @keyframes flicker {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    25% {
      transform: scale(.9);
      opacity: .8;
    }

    50% {
      transform: scale(1);
      opacity: .9;
    }

    75% {
      transform: scale(.2);
      opacity: .2;
    }

    100% {
      transform: scale(.9);
      opacity: .9;
    }
  }
}

.linck-animation {
  transition: color .3s;

  &:hover {
    background-image: linear-gradient(to right, $gradient-from, $gradient-to);
    background-clip: text;
    color: transparent;
  }

  &:hover .header-icons {
    stroke: $gradient-from;
  }

  &:active {
    background-image: linear-gradient(to left, $gradient-from, $gradient-to);
    background-clip: text;
    color: transparent;
  }

  &:active .header-icons {
    stroke: $gradient-to;
  }
}

.btn-animation {
  &::before {
    transition: background 0.3s, height 0.3s, width 0.3s;
  }

  &:hover::before {
    height: 110%;
    width: 110%;
  }

  &:active::before {
    background: linear-gradient(to left, $gradient-from, $gradient-to);
  }
}

